<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <!--<div class="formtitle"><span>基本信息</span></div>-->
      <form id="form1" name="form1" method="post" action="/mshzadmin.php/Home/Index/tgbz_list_xg_cl">
	    <input name="id"  type="hidden" class="dfinput" value="{$userdata['id']}" />
	    <ul class="forminfo">
		    <li><label>编号</label><input disabled="true" name="" type="text" class="dfinput" value="{$userdata['id']}"/><i></i></li>
	        <li><label>提供会员</label><input disabled="true " name="" type="text" class="dfinput" value="{$userdata['user']}"/><i></i></li>
	        <li><label>提供金额</label><input name="jb" type="text" class="dfinput" value="{$userdata['jb']}"/><i></i></li>
	        <li><label>提供时间</label><input disabled="true " name="" type="text" class="dfinput" value="{$userdata['date']}"/><i></i></li>
	    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
	    </ul>
      </form>
    
    </div>


</body>

</html>
